transition_matrix.json
emission_matrix.json
corpusDictionary.json
tagset.txt
normalize-train.txt
.DS_Store
model/corpus_data/matrix
model/corpus_data/tagset
model/corpus_data/word_dictionary
model/corpus_data/normalized_corpus